.DeleteTour {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.DeleteTour h2 {
    margin-bottom: 20px;
}

.buttons {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteButton{
    background-color: #ff0000;
}
.deleteButton:hover{
    background-color: #c5290d;
}
.backButton{
    background-color: rgb(10, 76, 152);
}
.backButton:hover{
    background-color: rgb(13, 56, 104);
}

